@import "vars";
.main-page {
  background-color: $gray-light;
  .entry-banner {
    img {
      width: 100%;
    }
  }

  .title {
    margin-top: 40px;
    text-align: center;
    h1 {
      font-size: 40px;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
  }
}
