// colors
$blue-light: #0066B1;
$blue-soft: #C3CCDB;
$gray: #6F6F6F;
$dark-grey: #494949;
$gray-light: #F2F2F2;
$white: #FFFFFF;
$black: rgb(0, 0, 0);
$red: #c70606;

$box-shadow-medium: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$border-radios-small: 10px;
